// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/SourceSansPro/SourceSansPro-Regular.ttf)
//
// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro Light"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/SourceSansPro/SourceSansPro-Light.ttf)
//   font-weight: 300
//
// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro Semibold"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/SourceSansPro/SourceSansPro-Semibold.ttf)
//   font-weight: 600

@font-face
  font-family: "Courier"
  src: url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/Courier/Courier.dfont)
  font-weight: 300
