@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/SourceSansPro/SourceSansPro-Regular.ttf)

@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro Light"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/SourceSansPro/SourceSansPro-Light.ttf)
  font-weight: 300

@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro Semibold"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/SourceSansPro/SourceSansPro-Semibold.ttf)
  font-weight: 600

@font-face
  font-family: "Roboto Mono"
  src: local("Roboto Mono"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/RobotoMono/RobotoMono-Regular.ttf)

@font-face
  font-family: "Dosis"
  src: local("Dosis Medium"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/Dosis/Dosis-Medium.ttf)
  font-weight: 500

@font-face
  font-family: "Skranji"
  src: local("Skranji"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/Skranji/Skranji-Regular.ttf)
  font-weight: normal

@font-face
  font-family: "Varela Round"
  src: local("VarelaRound"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/VarelaRound/VarelaRound-Regular.ttf)
  font-weight: normal
