// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/SourceSansPro/SourceSansPro-Regular.ttf)
//
// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro Light"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/SourceSansPro/SourceSansPro-Light.ttf)
//   font-weight: 300
//
// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro Semibold"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@master/SourceSansPro/SourceSansPro-Semibold.ttf)
//   font-weight: 600
