$header-height = 40px

#header
  background-color: #fff
  height: $header-height
  padding: $heading-padding-vertical 60px
  position: relative
  z-index: 100
  box-shadow: $box-shadow-nav

body.docs
  #header
    position: fixed
    width: 100%
    top: 0
  #nav
    position: fixed

#nav
  list-style-type: none
  margin: 0
  padding: 0
  position: absolute
  right: 30px
  top: $heading-padding-vertical
  height: $header-height
  line-height: $header-height
  .break
    display: none
  li
    display: inline-block
    position: relative
    margin: 0 .6em
  .seperator
    margin: 0.3em
    display: inline
  .nav-dropdown
    .nav-link
      &:hover, &.current
        border-bottom: none
      &.current
        &::after
          content: ""
          width: 0
          height: 0
          border-left: 5px solid $color_theme
          border-top: 3px solid transparent
          border-bottom: 3px solid transparent
          position: absolute
          top: 50%
          margin-top: -4px
          left: 8px

.nav-link
  padding-bottom: 3px
  white-space: nowrap
  &:hover, &.current
    border-bottom: 3px solid $color_theme
  &.team, &.contribute
    margin-left: 10px

.new-label
  position: absolute
  top: 3px
  left: 110%
  background-color: $color_theme
  color: #fff
  line-height: 16px
  height: 16px
  font-size: 9px
  font-weight: bold
  font-family: $code-font
  padding: 1px 4px 0 6px
  border-radius: 4px

.search-query
  height: 30px
  line-height: 30px
  box-sizing: border-box
  padding: 0 15px 0 30px
  border: 1px solid #e3e3e3
  color: $dark
  outline: none
  border-radius: 15px
  margin-right: 10px
  transition: border-color .2s ease
  background: #fff url(/assets/img/search.png) 8px 5px no-repeat
  background-size: 20px
  vertical-align: middle !important
  &:focus
    border-color: $color_theme

#logo
  display: inline-block
  font-size: 1.8em
  line-height: $header-height
  color: alpha($color_theme, 0.9)
  font-family: $logo-font
  font-weight: 500
  img
    vertical-align: middle
    margin-right: 6px
    width: $header-height
    height: $header-height
    display: none
#mobile-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: $nav-height
  background-color: #fff
  z-index: 9
  display: none
  box-shadow: $box-shadow-nav-mobile
  transition_all(0.5s)
  .nav-title
    font-family: $body-font
    font-size: 1.2em
    line-height: $nav-height
    color: $dark
    font-weight: bold
    display: flex
    margin 0 $nav-height 0 $nav-height
  .menu-button
    position: absolute
    width: $nav-height
    height: $nav-height
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.6em
    &.right
      font-size: 1.3em
      top: 0
      right: 0
  .logo
    opacity: 1
    position: absolute
    width: $nav-height - $gap
    height: $nav-height - $gap
    border-radius: 50%
    top: $gap * .5
    right: $gap
    background-size: $nav-height - $gap
    img
      width: $nav-height - $gap
      height: $nav-height - $gap
      border-radius: 50%

@media print
  #header
    display: none
