.readmore
  background-color color_for_bg($color_ax_blue)
  padding 1em
  border-radius 2px
  color $color_ax_blue
  position relative
  a
    margin 0 4px
    width 100%
    color $color_ax_blue !important
    position relative
    &:first-child
      margin-left: 0
    hoverable_text()
